{
  "swagger": "2.0",
  "info": {
    "version": "0.1.0",
    "title": "identifier",
    "description": "An API for providing identifiers.",
    "contact": {
      "name": "Christina Harlow",
      "email": "cmharlow@stanford.edu"
    }
  },
  "host": "identifiers.dlss.stanford.edu",
  "basePath": "/v1",
  "schemes": ["http"],
  "produces": ["application/json", "text/text"],
  "paths": {
    "/identifiers": {
      "get": {
        "operationId": "getIdentifiersInfo",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of identifier types & sources supported",
            "schema": {
                "$ref": "#/definitions/Sources"
            }
          }
        }
      }
    },
    "/identifiers/all": {
      "get": {
        "operationId": "getIdentifiersList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of all Identifiers minted across types",
            "schema": {
              "$ref": "#/definitions/Sources"
            }
          }
        }
      }
    },
    "/identifiers/druids": {
      "get": {
        "operationId": "getCurrentDRUIDs",
        "responses": {
          "200": {
            "description": "List of DRUIDs currently being used",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Identifiers"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "mintNewDRUIDs",
        "parameters": [
          {
            "in": "query",
            "name": "quantity",
            "required": false,
            "type": "integer",
            "description": "Number of DRUIDs to mint. Default is 1."
          }
        ],
        "responses": {
          "200": {
            "description": "New DRUIDs Created",
            "schema": {
              "$ref": "#/definitions/Identifiers"
            }
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
         "summary": "Health Check",
         "description": "The healthcheck endpoint provides information about the health of the service.",
         "operationId": "healthCheck",
         "responses": {
           "200": {
             "description": "The service is functioning nominally",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           },
           "503": {
             "description": "The service is not working correctly",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           }
         }
      }
    }
  },
  "definitions": {
    "Source": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "template": {
          "type": "string"
        }
      },
      "required": ["name", "template"]
    },
    "Sources": {
      "type": "array",
      "items": {
        "$ref" : "#/definitions/Source"
      }
    },
    "Identifier": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "required": ["id"]
    },
    "Identifiers": {
      "type": "array",
      "items": {
        "$ref" : "#/definitions/Identifier"
      }
    },
    "HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the service"
        }
      },
      "example": {
        "status": "OK"
      }
    }
  }
}
