{
  "swagger": "2.0",
  "host": "sdr.dlss.stanford.edu",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "info": {
    "version": "0.0.2",
    "title": "Id Service",
    "description": "An API for calling identifier minter services, mainly DRUIDs, primarily for usage by TACO.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths": {
    "/identifiers": {
      "get": {
        "operationId": "getIdentifiersInfo",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of identifier minters supported by this API.",
            "schema": {
              "$ref": "#/definitions/Sources"
            }
          },
          "500": {
            "description": "Your request could not be processed at this time."
          }
        }
      }
    },
    "/identifiers/all": {
      "get": {
        "operationId": "getIdentifiersList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of all Identifiers minted across types",
            "schema": {
              "$ref": "#/definitions/Identifiers"
            }
          },
          "500": {
            "description": "Your request could not be processed at this time."
          }
        }
      }
    },
    "/identifiers/druids": {
      "get": {
        "operationId": "getCurrentDRUIDs",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of DRUIDs currently being used",
            "schema": {
              "$ref": "#/definitions/Identifiers"
            }
          },
          "500": {
            "description": "Your request could not be processed at this time."
          }
        }
      },
      "post": {
        "operationId": "mintNewDRUIDs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "quantity",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Number of DRUIDs to mint. Default is 1."
          }
        ],
        "responses": {
          "200": {
            "description": "New DRUIDs Created",
            "schema": {
              "$ref": "#/definitions/Identifiers"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Identifier": {
      "type": "string",
      "example": "aa222bb3333"
    },
    "Identifiers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Identifier"
      },
      "example": [
        "aa222bb3333",
        "dd444ee5555"
      ]
    },
    "Source": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "template": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "template"
      ],
      "example": {
        "name": "DRUID",
        "template": "r:zznnnzznnnn"
      }
    },
    "Sources": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Source"
      },
      "example": [
        {
          "name": "DRUID",
          "template": "r:zznnnzznnnn"
        },
        {
          "name": "DOI",
          "template": "r:doi:zznnnzznnnn"
        }
      ]
    }
  }
}
